.construction_message {
    width: 100%;
    background: repeating-linear-gradient(
        45deg, #f3de26 25%, #272727
        25%, #272727 50%, #f3de26 
        50%, #f3de26 75%, #272727 
        75%
    );
    background-size: 8vw 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.construction_message h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 2vw;
}